<%- include('partials/header.ejs') %>
  <div class="wrapper d-flex align-items-stretch">
    <%- include('partials/sidebar.ejs') %>
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2 class="mb-4">Home</h2>
      <p>Created by <a href="https://github.com/limazia">Acacio de Lima</a> using Node.js and Bootstrap</p>
    </div>
  </div>
<%- include('partials/footer.ejs') %>