<%- include('partials/header.ejs') %>
  <div class="wrapper d-flex align-items-stretch">
    <%- include('partials/sidebar.ejs') %>
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2 class="mb-4">Inicio</h2>
      <p>Criado por <a href="https://github.com/limazia">Acacio de Lima</a></p>
    </div>
  </div>
<%- include('partials/footer.ejs') %>